* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
  font-family: "Montserrat", sans-serif;
}

:root {
  --first-color: #788cde;
  --second-color: #bc7abc;
  --third-color: #e46c8c;
  --fourth-color: #e46b67;
  --fifth-color: #4aa079;
  --sixth-color: #479e98;
  --seventh-color: #ecbda2;
  --placeholder-color: white;
  --font-size: 15px;
}

#main::-webkit-scrollbar {
  display: none;
}

/* For Firefox */
#main {
  scrollbar-width: none;
}

#container {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  min-height: 100vh;
  background-color: #171717;
  color: var(--first-color);
  padding: 0vh 15vw;
}

#nav {
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: space-between;
  width: 70%;
  height: 15vh;
  font-size: 1.7vw;
  z-index: 9;
  background-color: #171717;
}

#nav p {
  color: var(--second-color);
  font-size: 1.7vw;
  font-weight: 600;
}

#nav i {
  color: var(--second-color);
  cursor: pointer;
}

#main {
  display: flex;
  flex-direction: column;
  padding: 15vh 0 77.5vh 0;
  min-height: 120vh;
  width: 100%;
}

.task {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: calc(100% - 2px);
  margin: 2px;
  height: 7vh;
  border-radius: 5px;
  background-color: #2a2a2a;
  padding: 0 0.8vw;
}

.task-p1 {
  display: flex;
  gap: 0.8vw;
  color: white;
}

.task-check {
  appearance: none;
  width: 20px;
  height: 20px;
  border: 2px solid white;
  border-radius: 50%;
  background-color: transparent;
  cursor: pointer;
  position: relative;
  transition: background-color 0.3s, border-color 0.3s;
}

.task-check:hover {
  background-color: #e0e0e0;
}

.task-check:checked {
  background-color: transparent;
  color: #bc7abc;
}

.task-check:checked::before {
  content: "";
  position: absolute;
  left: 5px;
  top: 2.5px;
  width: 4px;
  height: 8px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

#delete-btn {
  background-color: transparent;
  border: none;
}

#delete-btn i {
  font-size: 1.4vw;
  font-weight: 200;
  transition: 0.2s ease-in-out;
  cursor: pointer;
  color: white;
}

#delete-btn i:hover {
  color: rgb(172, 171, 171);
}

#parent-add-task {
  top: 83%;
  display: flex;
  justify-content: center;
  position: fixed;
  height: 17vh;
  width: 70%;
}

#blur-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #171717dd;
  backdrop-filter: blur(2px);
  z-index: 1;
}

#add-task {
  display: flex;
  position: fixed;
  top: 85%;
  align-items: center;
  width: calc(70% - 2px);
  margin: 2px;
  height: 7vh;
  border-radius: 5px;
  background-color: #2a2a2a;
  padding: 0 0.8vw;
  color: var(--second-color);
  z-index: 2;
}

#add-task-p1 {
  display: flex;
  align-items: center;
  gap: 0.7vw;
}

#add-task-p1 i {
  font-size: 1.3vw;
}

#add-task-p1 input {
  width: 60vw;
  height: 5vh;
  background-color: transparent;
  border: none;
  color: var(--second-color);
  font-size: 1vw;
  font-family: "Montserrat", sans-serif;
}
#add-task-p1 input:focus {
  border: none;
  outline: none;
}
#add-task-p1 input::placeholder {
  color: var(--placeholder-color);
}

@media (max-width: 600px) {
  #container {
    align-items: center;
    padding: 0vh 5vw;
  }
  #nav {
    width: 90%;
    height: 9vh;
    font-size: 2.5vh;
  }
  #nav p {
    font-size: 2.1vh;
  }
  #main {
    padding: 10vh 0 77.5vh 0;
  }
  .task {
    width: 99%;
    height: 5.5vh;
    padding: 0 2vh 0 1vh;
  }
  .task-p1 {
    gap: 1vh;
  }
  .task-check {
    top: 3px;
    width: 17px;
    height: 17px;
    border: 1px solid white;
  }
  .task-check:checked::before {
    left: 5px;
    top: 2px;
    width: 4px;
    height: 7px;
  }
  #delete-btn i {
    font-size: 2vh;
  }
  #parent-add-task {
    top: 83%;
    height: 10vh;
    width: 100%;
  }
  #add-task {
    top: 90%;
    padding: 0 2vh 0 1vh;
    width: 88%;
    height: 5.5vh;
  }
  #add-task-p1 {
    gap: 1vh;
  }
  .task-p1 p {
    font-size: 2vh;
  }
  #add-task-p1 i {
    margin-top: 3px;
    font-size: 2.1vh;
  }
  #add-task-p1 input {
    width: 100%;
    height: 100%;
    font-size: 2.1vh;
  }
}
